<header>
    <div>
        <%= link_to "HearHere", "/" %>
    </div>
    <div>
        <%= form_with do |form| %>
            <%= form.text_field :email %>
        <% end %>
    </div>
    <div>
        質問する
    </div>
    <div>
        新規登録
    </div>
    <% if logged_in? %>
    <!--ログイン時-->
    <div>
        <%= link_to "ログアウト", logout_path, method: :delete %>
    </div>
    <% else %>
    <!--未ログイン時-->
    <div>
        <%= link_to "ログイン", login_path, method: :delete %>
    </div>
    <% end %>
    
</header>