<header>
    <div>
        <%= link_to "HearHere", "/" %>
    </div>
    <div>
        <%= form_with do |form| %>
            <%= form.text_field :search, :placeholder => "検索" %>
        <% end %>
    </div>
    <div>
        <%= link_to questions_create_path do %>
        <div>質問する</div>
        <% end %>
    </div>
    <div>
        <%= link_to register_path do %>
        <div>新規登録</div>
        <% end %>
    </div>
    <% if logged_in? %>
    <!--ログイン時-->
    <div>
        <%= link_to "ログアウト", logout_path, method: :delete %>
        ログインユーザー：<%= current_user.name %>
    </div>
    <% else %>
    <!--未ログイン時-->
    <div>
        <%= link_to "ログイン", login_path, method: :delete %>
    </div>
    <% end %>
    
</header>